*{
    margin: 0px;
    padding: 0px;
}

body{font-size: 1em;
font-family: Arial, Helvetica, sans-serif;
background: #d1d1da;}

/******layout******/

#area-cabecalho{
    background-color: #23166b;
    padding: 15px;
    text-align: center;
}

#area-log, #area-menu{
padding: 10px;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
    
}


#area-postagens {
    width: 660px;
    float: left;
    }
    
#area-lateral {
    width: 240px;
    float: left;
    margin: 11px;
    }

.postagem{
        padding: 20px;
        margin-bottom: 20px;
        background: white;
    }

.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}
.postagem-lateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}

#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color:#23166b;
}

a:hover{
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited{
    color: #fff;
    padding: 8px 12px;
}

#area-cabecalho a:hover{
    color: #23166b;
    background: #fff;
    text-decoration: none;
}

h1{color: #4e4e4e;
font-size: 2.5em;}

h2{color: #23166b;}

h3{color: #565656;
background: #ccc;
padding: 5px;}

.branco{
    color: white;
}
.data-postagem{
    font-size: 00.8em;
    border-bottom: 1px solid #23166b;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}
